/Labs/Unity 1/Lab8/Zoo_Project/nbproject/private/
/Labs/Unity 1/Lab8/Zoo_Project/build/
/Homework/Unity 1/Homework3/File_SilvaDayanna/nbproject/private/
/Homework/Unity 1/Homework3/File_SilvaDayanna/build/
/Labs/Unity 1/Lab9/Lab9_SilvaDayanna/build/
/Labs/Unity 1/Lab9/Lab9_SilvaDayanna/nbproject/private/
/Labs/Unity 1/Lab9/Lab9_ControlSentences&Operators/nbproject/private/
/Labs/Unity 1/Lab9/Lab9_ControlSentencesAndOperators/nbproject/private/
/Labs/Unity 1/Lab9/Lab9_ControlSentencesAndOperators/build/
/Labs/Unity 2/Lab10-Archivos/Lab9_ControlSentencesAndOperators/build/
/Labs/Unity 2/Lab10-Archivos/Lab9_ControlSentencesAndOperators/nbproject/private/
/Labs/Unity 2/Lab10-Archivos/ControlSentencesAndOperators_Lab10/nbproject/private/
/Labs/Unity 2/Lab10-Archivos/ControlSentencesAndOperators_Lab10/build/
/Labs/Unity 2/Lab11-Arrays/Lab11_Arrays/nbproject/private/
/Labs/Unity 2/Lab11-Arrays/ControlSentencesAndOperators_Lab10/build/
/Labs/Unity 2/Lab11-Arrays/ControlSentencesAndOperators_Lab10/nbproject/private/
/Labs/Unity 2/Lab11-Arrays/Lab12_Inheritance/nbproject/private/
/Labs/Unity 2/Lab11-Arrays/Lab12_Inheritance/build/
/Labs/Unity 2/Lab11_Arrays/Lab11_Arrays/build/
/Labs/Unity 2/Lab18_Impuesto/JavaApplication20/nbproject/private/
/Labs/Unity 2/Lab18_Impuesto/Tax/nbproject/private/
/Labs/Unity 2/Lab18_Triangulo/Lab18_Perimetro_Area_Triangulo/nbproject/private/
/Labs/Unity 2/Lab18_Triangulo/Lab18_Perimetro_Area_Triangulo/build/
/Labs/Unity 2/Lab17_Unit_Testing/Lab17_UnitTesting/build/
/Labs/Unity 2/Lab17_Unit_Testing/Lab17_UnitTesting/nbproject/private/
/Labs/Unity 2/Lab17_Unit_Testing/Triangulo_UnitTest/Lab18_Perimetro_Area_Triangulo/build/
/Labs/Unity 2/Lab17_Unit_Testing/Triangulo_UnitTest/Lab18_Perimetro_Area_Triangulo/nbproject/private/
/Labs/Unity 2/Lab18_Collection/Lab18_Collection/nbproject/private/
/Labs/Unity 2/Lab18_Collection/Lab18_Collection/build/
/Labs/Unity 2/Lab19_Librarias/Lab19_Library/nbproject/private/
/Labs/Unity 2/Lab19_Librarias/Lab19_Library/build/
/Labs/Unity 2/Lab19_Librarias/Lab19_Library/dist/
/Labs/Unity 2/Lab19_Librarias/Lab19_Consume_Library/nbproject/private/
/Labs/Unity 2/Lab19_Librarias/Lab19_Consume_Library/build/